/* font logo  */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* font title  */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

/* font content  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* tailwind css  */
@import "tailwindcss";

/* import swiper slider  */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
  --background-color: #e9ece9; /*layout kiểu gallery*/
  --text-color: #315040; /*Màu chữ xanh đen*/

  background: var(--background-color);
}
